@{
    ViewBag.Title = "About";
}
<h2>Sobre o Luciano</h2>

<p>Profissional FullStack com 15 anos de experiência de desenvolvimento .NET C#.<br/> 
    Já atuei com todas as versões e técnologias .NET: Framework, Core, Entity Framework, MVC, Asp.Net, WPF, Windows App, Windows Services; <br/>
    Experiencia de 10 anos com Arquitetura de Sistemas: DDD, TDD.<br/>
    Nos ultimos 10 anos fui líder técnico e gerenciei aproximadamente 8 analistas desenvolvedores.<br/>
    Devido a minha experiência com .NET e o diploma de Mestrado, fui convidado a ministrar aulas no instituto Infnet, onde trabalher por aproximadamente 4 anos.<br/>
    Tenho mais de 15 anos de experiencia com banco de dados Oracle, Postgres e SQLServer.<br/>
    Fiz o curso de DBA Oracle e utilizei o que aprendi no curso para melhorar os sistemas.<br/>
    Em Cloud tenho 3 anos de experiencia com Windows Azure 6 meses de experiencia com AWS.</p>
