@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Luciano Lucas de Oliveira Junior<br />
    Analista C# Senior<br />
    <abbr title="Phone">Celular:</abbr>
    (21) 98172-8692
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:lldeoj@gmail.com">lldeoj@gmail.com</a><br />
</address>