@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Aplicação de Avaliação da Meta</h2>
    <p class="lead">Tanto a API quanto as questões de lógica estão dentro deste sistema</p>
</div>