
@{
    ViewBag.Title = "Logica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


@Html.ActionLink("Questao_01", "Questao_01", "LogicTest")<br/>
@Html.ActionLink("Questao_02", "Questao_02", "LogicTest")<br />
@Html.ActionLink("Questao_03", "Questao_03", "LogicTest")<br />
@Html.ActionLink("Questao_01", "Questao_04", "LogicTest")

